@use '../../styles/color.scss';

.link-button-contenair{
    font-size: 1.2em;
    margin: 2em 0;
    }


.link-button-item{
    color: black;
    font-size: 1.4em;
    border-radius: 2rem 0rem 2rem 0;
    padding: 0.2em 0.5em;
    border: 1px solid black;
    background: color.$primary-color;
    

}