.header-connexion-container{
    margin: 0.5;
}

.connexion-container{
    margin: 0.5;
}
.connexion-container-title{
    margin: 0.5;
}

.main-connexion-container{
    margin: 0.5;
}


.footer-connexion-container{
    margin: 0.5;
}