.resultList-container{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    box-shadow:  0px 7px 29px rgba(100, 100, 111, 0.2);
    background-color: white;
    border-radius: 15px;
}
.resultList-box{
    margin: 2rem 2rem;
    padding: 1rem 0rem;
}
.resultList-item-ul{
    margin: 2rem 0;
}
.resultList-item-li{
    margin-top: 1.3rem;
}