.header-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
    margin: 2em 2em;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box {
    display: flex;
    align-items: flex-end;
}

.header-item-tag {
    color: black;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.313);
    background-color: xhite;
    border-radius: 9px;
    width: auto;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid transparent;

}

.header-item-img {
    width: 4rem;
}

.header-item-tag:hover {
    cursor: pointer;
    box-shadow: 2.5px 9px 10px rgba(0, 0, 0, 0.765);
    background-color: var(--grey-dark);
    transform: scale(1.2);
    border: 4px solid #8b44ee;
}