.formSearch-box{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
    background-color: white;
    border-radius: 15px;
}
.formSearch-card{
    margin: 4rem 2rem;
}
.formSearch-item-button , .formSearch-item-input{
    // style v1.2
    width: 100%;
    margin: auto;
    //
    margin-top: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 9px;
}

.formSearch-item-button{

    background-color: #ab81e5;
}
.formSearch-item-button:hover {
    cursor: pointer;
    box-shadow: 2.5px 9px 10px rgba(0, 0, 0, 0.765);
    background-color: #8b44ee;
    transform: scale(1.2);
}